<form class="form" id="form" >
    <h3 class="text-center">Crear su paquete</h3>
    <label for="nombre">ingrese nombre del paquete:</label>
    <input id="nombre" type="text">
    <label for="urlImagen"> ingrese url imagen</label>
    <input id="imagen" type="text">
    <label for="precio">ingrese precio</label>
    <input id="precio" type="number">
    <label for="personas">ingrese cantidad de personas:</label>
    <input id="personas" type="number">
    <label for="dias">ingrese cantidad de dias:</label>
    <input id="dias" type="number">
    <label for="destino">ingrese destino:</label>
    <input id="destino" type="text">
     <button class="boton-form" id="send">crear paquete</button>
</form>



<div id="contenedor" class="row m-5 gap-5 d-flex justify-content-center">


</div>

<form class="d-flex justify-content-center m-2" id="form-eliminar" action="eliminar">
    <label for="nombre">ingrese el id del paquete a eliminar:</label>
    <input id="id-eliminar" type="
    text">
    <button class="boton-form" id="eliminar">Eliminar</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>


<style>
    .producto{
        background-color: yellow;
        height: 600px;
    }
    .producto:hover{
        box-shadow: 10px 10px 10px yellow;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 50%;
        row-gap: 10px;
        margin: auto;
    }
   .boton-form{
        background-color: yellow;
    }
</style>